body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

.title {
    text-align: center;
    margin: 30px 0;
    font-size: 34px;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    background: white;
    width: 280px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    margin-bottom: 15px;
}

.card h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    color: #555;
}

.price {
    color: green;
    font-size: 22px;
    margin: 10px 0;
}

button {
    background: #007bff;
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #0056cc;
}